@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-color: #aaff95; /* 텍스트 색상 변수 정의 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body 색상에 --font-color를 사용하여 명시적으로 지정 */
body {
  color: var(--font-color); /* 이 부분에서 글자 색상을 명시 */
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
